<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>3D Volume Rendering Cloud System</title>

    <link rel='stylesheet' href='/jquery-ui-1.11.2.custom/jquery-ui.min.css' />

    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' media="screen and (min-width: 720px)" />
    <link rel='stylesheet' href='/stylesheets/layout_986.css' media="screen and (min-width: 986px)"/>
    <link rel='stylesheet' href='/stylesheets/layout_720.css' media="screen and (min-width: 720px) and (max-width: 986px)"/>
    <link rel='stylesheet' href='/stylesheets/layout_480.css' media="screen and (min-width: 480px) and (max-width: 720px)"/>
    <link rel='stylesheet' href='/stylesheets/layout_240.css' media="screen and (min-width: 240px) and (max-width: 480px)"/>

    <script src='http://cdn.binaryjs.com/0/binary.js'></script>
    <script src='http://<%=host%>:3000/socket.io/socket.io.js'></script>
    <script src='http://www.nornenjs.com/client/nornenjs.0.1.0.js'></script>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src='/jquery-ui-1.11.2.custom/jquery-ui.min.js'></script>
    <script src='/javascripts/jquery.json.js'></script>
    <script src='/javascripts/jquery.browser.min.js'></script>
    <script src='/javascripts/jquery.nstSlider.js'></script>

    
    <script>
        var host = '<%=host%>';
        var accessInfo = {
            volumePn : '<%=accessInfo.volumePn%>',
            userPn : '<%=accessInfo.userPn%>'
        };
        
        var volumePrimaryNumber = '<%=accessInfo.volumePn%>';

    </script>

</head>
<body>

<header class="layout_header_wrap">
    <div class="layout_header">
        <ul class="left">
            <li class="symbol">
                <span class="mark">Symbol</span>
                <a href="/">Home</a>
            </li>
            <li class="history">
                <span class="mark">Nav</span>
                <a href="/volume">Volume Data List</a>
            </li>
            <li class="history">
                <span class="mark">Nav</span>
                <a href="">Volume Rendering</a>
            </li>
        </ul>
        <ul class="right">
            <li class="help">
                <span class="mark">Question Mark</span>
                <a href="/">Help</a>
            </li>
            <li>
                <a href="/">Contact</a>
            </li>
            <% if ( user == undefined ) { %>
            <li>
                <a href="/signin/join">Join</a>
            </li>
            <li>
                <a href="/signin">Sign In</a>
            </li>
            <% } else { %>
            <li>
                <a href="/signin/logout">Log out</a>
            </li>
            <li class="user">
                <span class="mark">User Mark</span>
                <a href="/signin/join"><%=user.username%></a>
            </li>
            <% } %>
        </ul>
    </div>
</header>

<section class="layout_section_wrap">

    <div class="layout_section">

        <article class="stream_content_wrap">

            <header>
                <ul>
                    <li class="left">
                        <span>empty</span>
                        <h4>Volume Rendering - <%=volume.title%> </h4>
                    </li>
                </ul>
            </header>

            <div class="stream_content">

                <div id="view_port">
                    <canvas id="view_canvas"></canvas>
                </div>

                <div class="option_wrap">

                    <div class="option_rendering option_default">
                        <h6>
                            <span class="mark"></span>
                            <span class="text">Rendering Type</span>
                        </h6>
                        <ul class="option_select_wrap">
                            <li class="option_select_wrap_active" data-type="1">
                                Volume
                            </li>
                            <li class="option_select_wrap_none" data-type="2">
                                MIP
                            </li>
                            <li class="option_select_wrap_none" data-type="3">
                                MRI
                            </li>
                        </ul>
                    </div>

                    <div class="option_zoom option_default">
                        <h6>
                            <span class="mark"></span>
                            <span class="text">Zoom</span>
                        </h6>
                        <!-- slider -->

                        <div class="slider nstSlider" data-range_min="0" data-range_max="10000" data-cur_min="3000" data-type="scale">
                            <div class="bar"></div>
                            <div class="leftGrip"></div>

                            <div class="title">
                                <img src="/image/icon/zoom.png" title="zoom">
                                <span>Zoom</span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="option_brightness option_default">
                        <h6>
                            <span class="mark"></span>
                            <span class="text">Brightness</span>
                        </h6>
                        <!-- slider -->

                        <div class="slider nstSlider" data-range_min="0" data-range_max="200" data-cur_min="100" data-type="brightness">
                            <div class="bar"></div>
                            <div class="leftGrip"></div>

                            <div class="title">
                                <img src="/image/icon/brightness.png" title="brightness">
                                <span>Brightness</span>
                            </div>
                        </div>
                    </div>

                    <div class="option_otf option_default">
                        <h6>
                            <span class="mark"></span>
                            <span class="text">OTF</span>
                        </h6>
                        <!-- slider -->
                        <div class="slider nstSlider" data-range_min="50000" data-range_max="200000" data-cur_min="100000" data-type="otf">
                            <div class="bar"></div>
                            <div class="leftGrip"></div>

                            <div class="title">
                                <img src="/image/icon/otf.png" title="otf">
                                <span>OTF</span>
                            </div>
                        </div>
                    </div>

                    <div class="option_axis option_default">
                        <h6>
                            <span class="mark"></span>
                            <span class="text">Axis</span>
                        </h6>
                        <ul class="option_select_wrap">
                            <li class="option_select_wrap_active" data-type="1">
                                X
                            </li>
                            <li class="option_select_wrap_none" data-type="2">
                                Y
                            </li>
                            <li class="option_select_wrap_none" data-type="3">
                                Z
                            </li>
                        </ul>
                        
                        <div style="width: 100%; float: left;">
                        <!-- slider -->

                            <div class="slider nstSlider" data-range_min="0" data-range_max="10000" data-cur_min="0" data-type="axis">
                                <div class="bar"></div>
                                <div class="leftGrip"></div>

                                <div class="title">
                                    <img src="/image/icon/axis.png" title="axis">
                                    <span>Axis</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </article>

    </div>

</section>

<footer class="layout_footer_wrap">
    <div class="layout_footer">
        <span>Copyright(c) Teriusbin.lee. Francis.kim. All rights reserved.</span>
    </div>
</footer>

<script src="/javascripts/vrcs.common.js"></script>
<script src="/javascripts/vrcs.launch.js"></script>
<script src="/javascripts/vrcs.stream.js"></script>


</body>
</html>
