<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Volume Rendering Cloud System</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <header>
        <h1>Volume Data List</h1>
        <a href="/volume/upload">Upload</a>
    </header>
    <section>
        <table>
            <thead>
                <tr>
                    <th>pn</th>
                    <th>userpn</th>
                    <th>title</th>
                    <th>file_name</th>
                    <th>save_name</th>
                    <th>input_date</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td rowspan="6">tfoot</td>
                </tr>
            </tfoot>
            <tbody>
                <%
                    for(var i=0; i< volumes.length; i++) {
                        var volume = volumes[i];
                %>
                <tr>
                    <td><%=volume.pn%></td>
                    <td><%=volume.userpn%></td>
                    <td><%=volume.save_name%></td>
                    <td><%=volume.file_name%></td>
                    <td><%=volume.title%></td>
                    <td><%=volume.input_date%></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </section>
    <footer>

    </footer>

</body>
</html>
