<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Volume Rendering Cloud System</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<header class="template_header">
    <h1>Volume Data List</h1>
</header>

<section class="template_section">
    <article>
        <a href="/" class="default_a">Main</a>
        <a href="/volume/upload" class="default_a">Upload</a>
        <table class="default_table">
            <thead>
                <tr>
                    <th>pn</th>
                    <th>userpn</th>
                    <th>title</th>
                    <th>file_name</th>
                    <th>save_name</th>
                    <th>input_date</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">more...</td>
                </tr>
            </tfoot>
            <tbody>
                <%
                    for(var i=0; i< volumes.length; i++) {
                        var volume = volumes[i];
                %>
                <tr>
                    <td><%=volume.pn%></td>
                    <td><%=volume.userpn%></td>
                    <td>
                        <a href="../stream/volumepn/<%=volume.pn%>" ><%=volume.title%></a>
                    </td>
                    <td><%=volume.file_name%></td>
                    <td><%=volume.save_name%></td>
                    <td><%=volume.input_date%></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </article>
</section>

<footer class="template_footer">
    <span>Copyright(c) Wong.Lee Francis.kim  All rights reserved</span>
</footer>

</body>
</html>
