<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <title>3D Volume Rendering Cloud System</title>

    <link rel='stylesheet' href='/jquery-ui-1.11.2.custom/jquery-ui.min.css' />

    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/layout_986.css' media="screen and (min-width: 986px)"/>
    <link rel='stylesheet' href='/stylesheets/layout_720.css' media="screen and (min-width: 720px) and (max-width: 986px)"/>
    <link rel='stylesheet' href='/stylesheets/layout_480.css' media="screen and (min-width: 480px) and (max-width: 720px)"/>
    <link rel='stylesheet' href='/stylesheets/layout_240.css' media="screen and (min-width: 240px) and (max-width: 240px)"/>

    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src='/jquery-ui-1.11.2.custom/jquery-ui.min.js'></script>

</head>
<body>

<header class="layout_header_wrap">
    <div class="layout_header">
        <ul class="left">
            <li class="symbol">
                <span class="mark">Symbol</span>
                <a href="/">Home</a>
            </li>
            <% if (user == undefined){ %>
            <li class="history">
                <span class="mark">Nav</span>
                <a href="/signin/join">Join</a>
            </li>
            <% } else { %>
            <li class="history">
                <span class="mark">Nav</span>
                <a href="/signin/join">Profile</a>
            </li>
            <% } %>
        </ul>
        <ul class="right">
            <li class="help">
                <span class="mark">Question Mark</span>
                <a href="/">Help</a>
            </li>
            <li>
                <a href="/">Contact</a>
            </li>
            <% if ( user == undefined ) { %>
            <li>
                <a href="/signin/join">Join</a>
            </li>
            <li>
                <a href="/signin">Sign In</a>
            </li>
            <% } else { %>
            <li>
                <a href="/signin/logout">Log out</a>
            </li>
            <li class="user">
                <span class="mark">User Mark</span>
                <a href="/signin/join"><%=user.username%></a>
            </li>
            <% } %>
        </ul>
    </div>
</header>

<section class="layout_section_wrap">
    <div class="layout_section">

        <div class="join_content_wrap">

            <% if (user == undefined){ %>
            <div class="join_content">
                <!-- Sign up for volume render -->
                <div class="left">
                    <p class="title">Volume Rendering Cloud System</p>
                    <dl class="icon">
                        <dt>
                            <img src="/image/money.png" title="Money"/>
                        </dt>
                        <dd>Low Cost</dd>
                    </dl>
                    <dl class="icon">
                        <dt>
                            <img src="/image/clock.png" title="Clock"/>
                        </dt>
                        <dd>Faster</dd>
                    </dl>
                    <dl class="icon">
                        <dt>
                            <img src="/image/image.png" title="Image"/>
                        </dt>
                        <dd>Clear</dd>
                    </dl>
                </div>

                <div class="right">
                    <form name="user" action="/signin/join" method="post">
                        <input type="hidden" name="_method" value="post">
                        <ul>
                            <li>
                                <label>Username</label>
                                <input id="username" name="username" type="text" class="join_input" value="<%=postUser == undefined ? '': postUser.username%>"/>
                            </li>
                            <li>
                                <label>Password</label>
                                <input id="password" name="password" type="password" class="join_input"/>
                            </li>
                            <li>
                                <label>Re-Enter Password</label>
                                <input id="confirmpw" name="confirmpw" type="password" class="join_input"/>
                            </li>
                            <% if(message.error != ''){%>
                            <li class="form_error">
                                <p class="bold"><%=message.error%></p>
                            </li>
                            <% }%>
                            <% if(message.success != ''){%>
                            <li class="form_success">
                                <p class="bold"><%=message.success%></p>
                            </li>
                            <% }%>
                            <li>
                                <button type="submit" class="join_btn">Sign Up for Volume Render</button>
                            </li>
                            <li class="explain">
                                <p>By clicking "Sign up for Volume Render", you agree to our terms of service and privacy policy.</p>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <% } else { %>
            <!-- Modify Information -->
            <div class="modify_content">

                <header>
                    <ul>
                        <li class="left">
                            <span>empty</span>
                            <h4>Profile</h4>
                        </li>
                    </ul>
                </header>

                <form name="user" action="/signin/join" method="post">
                    <input type="hidden" name="_method" value="update">

                    <ul class="modify_form">
                        <li>
                            <label>Username</label>
                            <input type="text" value="<%=user.username%>" readonly="readonly" class="readonly"/>
                        </li>
                        <li>
                            <label>Original Password</label>
                            <input id="originalpw" name="originalpw" type="password"/>
                        </li>

                        <li>
                            <label class="default_label">Change Password</label>
                            <input id="password" name="password" type="password"/>
                        </li>
                        <li>
                            <label class="default_label">Re-enter Password</label>
                            <input id="confirmpw" name="confirmpw" type="password"/>
                        </li>
                        <%
                        if (message != undefined){
                            if(message.error != ''){
                        %>
                        <li class="form_error large">
                            <p><%=message.error%></p>
                        </li>
                        <% }%>
                        <% if(message.success != ''){%>
                        <li class="form_success large">
                            <p><%=message.success%></p>
                        </li>
                        <%
                            }
                        }
                        %>
                        <li>
                            <button type="submit" class="changepw_btn">Change Password</button>
                        </li>
                    </ul>
                </form>

                <form name="user" action="/signin/join" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <div class="delete_form">
                        <p>
                            All will be deleted. Deleted information please think carefully before recovery is not possible in any way haohni be deleted.
                        </p>
                        <button type="submit" class="delete_btn">Delete</button>
                        <input id="delete_password" name="password" type="password" class="delete_input"/>

                        <% if( delete_message != undefined && delete_message.error != ''){%>
                        <div class="form_error">
                            <p><%=delete_message.error%></p>
                        </div>
                        <% }%>
                    </div>
                </form>

            </div>
            <% } %>
        </div>

    </div>
</section>

<footer class="layout_footer_wrap">
    <div class="layout_footer">
        <span>Copyright(c) Teriusbin.lee. Francis.kim. All rights reserved.</span>
    </div>
</footer>

<script src='/javascripts/vrcs.common.js'></script>
<script src="/javascripts/vrcs.launch.js"></script>

</body>
</html>
